@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    -webkit-text-size-adjust: 100%;
    font-family: 'Open Sans', sans-serif;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

main {
    display: block;
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    box-sizing: content-box;
    overflow: visible;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


textarea {
    resize: vertical;
}

.hidden,
[hidden] {
    display: none !important;
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
}

.sr-only.focusable:active,
.sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}

@media only screen and (min-width: 35em) {
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
}

@media print {
    *,
    *::before,
    *::after {
        background: #fff !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]::after {
        content: " (" attr(href) ")";
    }

    abbr[title]::after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]::after,
    a[href^="javascript:"]::after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
}

b,
strong {
    font-weight: bolder;
}


code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}


small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}


button,
input,
optgroup,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
}


button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}


button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}


legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}


[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}


[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.flex-center-rw, .flex-center-cl {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center-cl {
    flex-direction: column;
}

.abs, .abs-center {
    position: absolute;
}

.rel {
    position: relative;
}

.abs-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.layout {
    width: 100%;
    min-height: 100vh;
    background: #ffffff;
    padding: 40px;
}

.last-articles-wrapper h1 {
    color: #0D2C47;
    font-size: 32px;
    margin-bottom: 30px;
    font-weight: 700;
}

.last-articles-content {
    display: grid;
    grid-template-columns: repeat(3,minmax(100px, 400px));
    grid-gap: 40px;
}

.blog-container {
    display: flex;
    flex-direction: column;
}

.blog-container img {
    object-fit: cover;
    max-width: 400px;
    width: 100%;
    height: 260px;
}

.blog-container span {
    font-size: 14px;
    color: rgba(13, 44, 72, 0.5);
    margin: 15px 0;
}

.blog-container h4 {
    font-size: 18px;
    color: #0D2C48;
    line-height: 180%;
}

.load-more-btn button{
    width: 300px;
    margin-top: 40px;
    background: #6FD8B2;
    border-radius: 5px;
    color: #0F273F;
    border: none;
    outline: none;
    padding: 15px 0;
    cursor: pointer;
    font-size: 14px;
}

@media only screen and (max-width: 767px) {
    .layout {
        padding: 20px;
    }
    .last-articles-content {
        grid-template-columns: repeat(1,100%);
        grid-gap: 50px;
    }
    .load-more-btn button{
        width: 100%;
    }
    .blog-container h4 {
        font-size: 16px;
        line-height: 150%;
    }
    .blog-container span {;
        margin: 8px 0;
    }
}
